.campoTexto{
    margin: 24px 0;
}

.campoTexto label{
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
}

.campoTexto input{
    background-color: #fff;
    box-shadow: 10px 30px 30px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: black solid 1px;
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
}

@media screen and (max-width: 768px) {
    .campoTexto{
        margin: 8px;
    }

    .campoTexto label{
        font-size: 12px;
    }

    .campoTexto input{
        font-size: 12px;
    }
}