/* Estilos para o modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: top 0.5s ease-out;
}

.modal {
  padding: 20px;
  border-radius: 8px;
  top: 50%;
  height: 100vh;
  max-height: 70%;
  width: 80%;
  transform: translateY(-20%);

}

@media screen and (max-width: 1024px) {
  .modal {
      width: 90%; 
      max-height: 90%; 
      transform: translateY(10%);
  }
}

@media screen and (max-width: 600px) {
  .modal {
      width: 90%; 
      max-height: 90%; 
      transform: translateY(-2%);
  }
}

@media screen and (max-width: 480px) {
  .modal {
      width: 95%; 
      max-height: 95%; 
      transform: translateY(-2%);
      

  }
}

  
  